.dark-primary-color {
  background: #4b626d;
}
.default-primary-color {
  background: #8cada3;
}
.light-primary-color {
  background: #dbe6e2;
}
.text-primary-color {
  color: #ffffff;
}
.accent-color {
  background: #ffd640;
}
.accent-color2 {
  background: #30b88f;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #b865a3;
}
.divider-color {
  border-color: #f3e5ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbe6e2;
}

h1,
h2,
p,
li,
a,
div {
  font-family: Raleway;
  color: #212121;
}

.small {
  font-size: 13px;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.navbar > a,
p {
  color: #ffffff;
}

.information > a,
.fundamentals > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
}

h2 {
  padding: 5px;
  padding-top: 70px;
  margin-top: -70px;
}

.navbar {
  background-color: #8cada3;
  padding: 20px 0;
  display: flex;
  width: 100vw;
  position: fixed;
  justify-content: center;
}

.nav-buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.nav-buttons > a {
  color: #fff;
}

.completed {
  text-decoration: line-through;
  opacity: 0.2;
}

.roadmap-grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 400px));
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.roadmap-grid-container > div {
  grid-gap: 7px;
  padding: 7px;
}

.information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px;
  grid-column: 1 / 2;
}

.information > a:hover {
  background-color: #b865a3;
  color: #ffffff;
}

.information-top {
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
}

.information-second {
  grid-template-rows: repeat(3, 80px);
}

.information-third {
  grid-template-rows: repeat(2, 80px);
}

.information-third > .item3 {
  grid-column: 1 / 3;
}

.information-fourth {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.information > * {
  border: 2px solid #4b626d;
  border-radius: 5px;
  background-color: #f3e5ef;
}

.fundamentals {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2 / 3;
}

.fundamentals-top {
  margin-top: 70px;
  grid-template-rows: 1fr;
  grid-column: 1 / 3;
}

.fund-third {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 80px);
}

.fundamentals > * {
  border: 2px solid #4b626d;
  border-radius: 5px;
  background-color: #f3e5ef;
}

.fundamentals > a:hover {
  background-color: #30b88f;
  color: #ffffff;
}

.skills {
  display: grid;
  font-size: 20px;
  border: 2px solid #fcf4fa;
  border-radius: 5px;
  grid-column: 1 / 3;
  background-color: #ffd640;
}

.skills > * {
  display: grid;
  color: #212121;
  align-content: center;
}

.resource-grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: minmax(250px, 700px);
}

.resource-list {
  margin-top: 70px;
  margin-left: 140px;
  grid-area: 'content';
}

.sidebar {
  display: grid;
  background-color: #fcf4fa;
  grid-template-rows: repeat(15, 30px);
  margin-top: 61px;
  margin-bottom: 150px;
  height: 100vh;
  position: fixed;
}

.sidebar > * {
  font-size: 14px;
  margin: 10px;
}

.footer {
  color: #fff;
  background-color: #8cada3;
  padding: 20px 0;
  margin: 10px 0 0 0;
  display: grid;
  justify-content: center;
  grid-area: 'footer';
}

ul {
  margin: 25px;
}

.small-sidenav {
  padding-top: 5px;
  font-size: 12px;
}

.active {
  border-bottom: 2px dashed;
}
