* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbe6e2;
}

h1,
h2,
p,
li,
a,
div {
  font-family: Raleway;
  color: #212121;
}

.small {
  font-size: 13px;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.navbar > a,
p {
  color: #ffffff;
}

.information > a,
.fundamentals > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
}

h2 {
  padding: 5px;
  padding-top: 70px;
  margin-top: -70px;
}

.navbar {
  background-color: #8cada3;
  padding: 20px 0;
  display: flex;
  width: 100vw;
  position: fixed;
  justify-content: center;
  z-index: 999;
  grid-area: navbar;
}

.nav-buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.nav-buttons > a {
  color: #fff;
}

.completed {
  text-decoration: line-through;
  opacity: 0.3;
}

.roadmap-grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 450px));
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.roadmap-grid-container > div {
  grid-gap: 7px;
  padding: 2.5%;
}

.information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px;
  grid-column: 1 / 2;
}

.information > a:hover {
  background-color: #b865a3;
  color: #ffffff;
}

.information-second {
  grid-template-rows: repeat(3, 80px);
}

.information-third {
  grid-template-rows: repeat(2, 80px);
}

.information-third > .item3 {
  grid-column: 1 / 3;
}

.information-fourth {
  grid-template-rows: repeat(2, 80px);
}

.information-fourth > .item1 {
  grid-column: 1 / 3;
}

.information > * {
  border: 2px solid #4b626d;
  border-radius: 5px;
  background-color: #f3e5ef;
}

.fundamentals {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2 / 3;
}

.fundamentals-top {
  margin-top: 70px;
  grid-template-rows: 1fr;
  grid-column: 1 / 3;
}

.fund-third {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 80px);
}

.fundamentals > * {
  border: 2px solid #4b626d;
  border-radius: 5px;
  background-color: #edfaf6;
}

.fundamentals > a:hover {
  background-color: #30b88f;
  color: #ffffff;
}

.skills {
  display: grid;
  font-size: 20px;
  border: 2px solid #fcf4fa;
  border-radius: 5px;
  grid-column: 1 / 3;
  background-color: #ffd640;
}

.skills > * {
  display: grid;
  color: #212121;
  align-content: center;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  background-color: #fcf4fa;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'navbar navbar'
    'sidebar content1'
    'sidebar content2';
}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
      'navbar navbar navbar'
      'sidebar content1 content2';
  }
}

.content1 {
  grid-area: content1;
  margin-left: 20px;
  margin-top: 70px;
}

.content2 {
  grid-area: content2;
  margin-left: 20px;
  margin-top: 70px;
}

.sidebar {
  display: grid;
  background-color: #dbe6e2;
  grid-template-rows: repeat(15, 30px);
  margin-top: 61px;
  margin-bottom: 150px;
  height: 100vh;
  position: fixed;
  grid-area: sidebar;
}

.sidebar > * {
  font-size: 14px;
  padding: 12px;
}

.footer {
  color: #fff;
  background-color: #8cada3;
  padding: 20px 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-around;
}

ul {
  margin: 20px;
}

.small-sidenav {
  padding-top: 30px;
  font-size: 12px;
}

.active {
  border-bottom: 2px dashed;
}

.color-box-container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  justify-content: center;
}

.color-box {
  display: flex;
  height: 50%;
  border-style: double;
  flex-basis: 25%;
}

.color-box > p {
  color: #212121;
  font-size: 14px;
  padding: 7px;
  margin-top: 18px;
}
