body {
  background-color: #fcf4fa;
}

h1, h2, p, li {
  font-family: Raleway;
}

h1 {
  font-size: 35px;
}

nav {
  display: flex;
  justify-content: flex-start;
}

a {
  color: #2d1a30;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  opacity: 0.2;
}